<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058333960134-tko2meuuaailame2pkvvcnfdti1o2j0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058333960134-tko2meuuaailame2pkvvcnfdti1o2j0b</string>
	<key>API_KEY</key>
	<string>AIzaSyAYknWw3Vq21hzZ5hrLKKnvvD80nk0Gyyc</string>
	<key>GCM_SENDER_ID</key>
	<string>1058333960134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamzaahmedshad.ToDoProject</string>
	<key>PROJECT_ID</key>
	<string>registeruserdirect</string>
	<key>STORAGE_BUCKET</key>
	<string>registeruserdirect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058333960134:ios:cb762064c65e30067934c7</string>
</dict>
</plist>